@model Car
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .full-screen-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

        .full-screen-image img {
            max-width: 100%;
            max-height: 100%;
        }

    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        color: #fff;
        cursor: pointer;
        z-index: 1001;
    }

    body {
        font-family: 'Arial', sans-serif;
    }

    h1 {
        text-align: center;
        margin-top: 20px;
        color: #333;
    }

    #photoGallery {
        max-width: 600px;
        margin: 80px auto;
        overflow: hidden;
    }

    #photoContainer {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .galleryPhoto {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    #prevButton,
    #nextButton {
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 16px;
        padding: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    #prevButton {
        left: 10px;
        top: 400px
    }

    #nextButton {
        right: 10px;
        top: 400px
    }
</style>

<div class="main-container">
    
    <section class="bg-white space-sm">
        <div class="container">
            <div class="row">
                <div id="photoGallery">
                    <div id="photoContainer">
                        @if (Model != null && Model.Photos != null && Model.Photos.Any())
                        {
                            @foreach (var photo in Model.Photos)
                            {
                                <img class="galleryPhoto" src="@photo.Url" onclick="toggleFullScreenImage('@photo.Url')" />
                            }
                        }
                        else
                        {
                            <p>No photos available</p>
                        }
                    </div>
                    <button id="prevButton" onclick="changePhoto(-1)">&laquo;</button>
                    <button id="nextButton" onclick="changePhoto(1)">&raquo;</button>
                </div>
                <!--end of col-->
                @if (Model != null)
                {
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div><i class="icon-text-document mr-1"></i> Make</div>
                                        <span>@Model.Make</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div><i class="icon-text-document mr-1"></i> Model</div>
                                        <span>@Model.Model</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div><i class="icon-edit mr-1"></i> Location</div>
                                        <span>@Model.Address.City, @Model.Address.State</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div><i class="icon-thumbs-up mr-1"></i> Mileage</div>
                                        <span>@Model.Mileage km</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div><i class="icon-share mr-1"></i> Price</div>
                                        <span>@Model.Price€</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div><i class="icon-text-document mr-1"></i> Transmission</div>
                                        <span>@Model.GearBoxCategory</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div><i class="icon-text-document mr-1"></i> Color</div>
                                        <span>@Model.Color</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div><i class="icon-text-document mr-1"></i> Category</div>
                                        <span>@Model.Category</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div><i class="icon-text-document mr-1"></i> HorsePower</div>
                                        <span>@Model.HorsePower hp</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div><i class="icon-text-document mr-1"></i> First Registration</div>
                                        <span>@(Model.FirstRegistration.HasValue ? Model.FirstRegistration.Value.ToString("dd/MM/yyyy") : "N/A")</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div><i class="icon-text-document mr-1"></i> Seller</div>
                                        <span>@Model.Seller</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div><i class="icon-text-document mr-1"></i> Extras</div>
                                        <span>@Model.Extras</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div><i class="icon-text-document mr-1"></i> Emission</div>
                                        <span>@Model.Emission</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div><i class="icon-text-document mr-1"></i> Uploaded</div>
                                        <span>@Model.CreatedAt</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div><i class="icon-thumbs-up mr-1"></i> Nr of Owners</div>
                                        <span>@Model.NrOfOwners</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div><i class="icon-edit mr-1"></i> Last updated</div>
                                        <span>@Model.UpdatedAt</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    @if (Model != null)
    {
        <section class="space-sm">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-8 col-lg-7">
                        <h5 class="mb-4">Description</h5>
                        <article>
                            @Model.Description
                        </article>
                        <div>
                            <h5>Per me shume informacion kontaktoni ne numrin e meposhtem:</h5>
                            <i class="fas fa-phone"></i> @Model.PhoneNumber
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Modal for Full-Screen Image -->
        <div class="modal fade" id="modalCarImage" tabindex="-1" role="dialog" aria-labelledby="modalCarImageLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="@Model.Photos" alt="Car Image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    function toggleFullScreenImage(imgSrc) {
        var fullScreenDiv = document.createElement('div');
        fullScreenDiv.className = 'full-screen-image';
        fullScreenDiv.innerHTML = `
                            <span class="close-button" onclick="closeFullScreenImage()">×</span>
                            <img src="${imgSrc}" alt="Full Screen Image">
                        `;
        document.body.appendChild(fullScreenDiv);
    }

    function closeFullScreenImage() {
        var fullScreenDiv = document.querySelector('.full-screen-image');
        if (fullScreenDiv) {
            document.body.removeChild(fullScreenDiv);
        }
    }

    let currentIndex = 0;
    const totalPhotos = document.querySelectorAll('.galleryPhoto').length;

    function changePhoto(direction) {
        currentIndex += direction;

        if (currentIndex < 0) {
            currentIndex = totalPhotos - 1;
        } else if (currentIndex >= totalPhotos) {
            currentIndex = 0;
        }

        const transformValue = -currentIndex * 100 + '%';
        document.getElementById('photoContainer').style.transform = `translateX(${transformValue})`;
    }
</script>