@using mobile.al.Data.Enum
@using mobile.al.ViewModels;
@model EditCarViewModel

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" value="AddressId" id="AddressId" />
    <div class="form-group">
        <label asp-for="Make">Make</label>
        <select asp-for="Make" asp-items="@Html.GetEnumSelectList<Make>()" class="form-control form-control form-control-lg">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="Make" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" class="form-control" placeholder="Enter Price">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Mileage">Mileage</label>
        <input asp-for="Mileage" class="form-control" placeholder="Enter Mileage">
        <span asp-validation-for="Mileage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Category">Category</label>
        <select asp-for="Category" asp-items="@Html.GetEnumSelectList<Category>()" class="form-control form-control form-control-lg">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Images" class="control-label"></label>
        <input asp-for="Images" type="file" accept="image/*" multiple>
        <span asp-validation-for="Images" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" placeholder="Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Accidented">Accidented</label>
        <input asp-for="Accidented" class="form-control" placeholder="Accidented">
        <span asp-validation-for="Accidented" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstRegistration" class="control-label">First Registration:</label>
        <input asp-for="FirstRegistration" class="form-control" type="date" />
        <span asp-validation-for="FirstRegistration" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model">Model</label>
        <input asp-for="Model" class="form-control" placeholder="Enter Model">
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HorsePower">HorsePower</label>
        <input asp-for="HorsePower" class="form-control" placeholder="Enter HorsePower">
        <span asp-validation-for="HorsePower" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GearBoxCategory">GearBoxCategory</label>
        <select asp-for="GearBoxCategory" asp-items="@Html.GetEnumSelectList<GearBox>()" class="form-control form-control form-control-lg">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="GearBoxCategory" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FuelTypeCategory">FuelTypeCategory</label>
        <select asp-for="FuelTypeCategory" asp-items="@Html.GetEnumSelectList<FuelType>()" class="form-control form-control form-control-lg">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="FuelTypeCategory" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Color">Color</label>
        <input asp-for="Color" class="form-control" placeholder="Color">
        <span asp-validation-for="Color" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Extras">Extras</label>
        <select asp-for="Extras" asp-items="@Html.GetEnumSelectList<Extras>()" class="form-control form-control form-control-lg">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="Extras" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Interior">Interior</label>
        <select asp-for="Interior" asp-items="@Html.GetEnumSelectList<Interior>()" class="form-control form-control form-control-lg">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="Interior" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Seller">Seller</label>
        <select asp-for="Seller" asp-items="@Html.GetEnumSelectList<Seller>()" class="form-control form-control form-control-lg">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="Seller" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Emission">Emission</label>
        <select asp-for="Emission" asp-items="@Html.GetEnumSelectList<Emission>()" class="form-control form-control form-control-lg">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="Emission" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.Street">Street</label>
        <input asp-for="Address.Street" class="form-control" placeholder="Street">
        <span asp-validation-for="Address.Street" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.City">City</label>
        <input asp-for="Address.City" class="form-control" placeholder="City">
        <span asp-validation-for="Address.City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.State">State</label>
        <input asp-for="Address.State" class="form-control" placeholder="State">
        <span asp-validation-for="Address.State" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>