@model IEnumerable<Car>

<div class="text-center">
    <h1 class="display-4 text-black">Today's Deals</h1>

</div>

<div class="d-flex flex-column" style="gap: 16px">
    <div class="card flex-row">
        @foreach(var item in Model)
        {
            <img alt="Car image"
                 class="card-img-left example-card-img-responsive m-3"
                 src="@item.Image"
                 width="328"
                 height="260"
                 style="background-size: contain"
                 draggable="false" />
            <div class="card-body">
                <h4 class="card-title h5 h4-sm"><strong>@item.Title</strong></h4>
                <h5>Price: $100.000</h5>
                <h6>Km: 61.000km</h6>
                <p class="card-text">Lorem ipsum dolor sit amed</p>
                <a type="btn btn-success" asp-controller="Car" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">View details</a>
                @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                {
                    <a type="btn btn-success" asp-controller="Car" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                    <a type="btn btn-success" asp-controller="Car" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Delete</a>
                }
            </div>
        }
    </div>


    @*<div class="card flex-row mb-4">
        <img alt="Car image"
             class="card-img-left example-card-img-responsive m-3"
             src="https://www.newcarz.de/wp-content/uploads/2020/06/newcarz-bmw-4er-coupe-1.jpg"
             width="328"
             height="260"
             style="background-size: contain"
             draggable="false" />
        <div class="card-body">
            <h4 class="card-title h5 h4-sm"><strong>BMW 4er Series M4 COMPETITION</strong></h4>
            <h5>Price: $115.000</h5>
            <h6>Km: 20.000km</h6>
            <p class="card-text">Lorem ipsum dolor sit amed.</p>
            <a href="#" class="btn btn-primary">View details</a>
        </div>
    </div>
    <div class="card flex-row">
        <img alt="Car image"
             class="card-img-left example-card-img-responsive m-3"
             src="https://cdn.pixabay.com/photo/2016/06/20/22/35/mercedes-benz-1470136_640.jpg"
             width="328"
             height="260"
             style="background-size: contain"
             draggable="false" />
        <div class="card-body">
            <h4 class="card-title h5 h4-sm"><strong>Mercedes-Benz GT63s AMG 4MATIC 360Deg</strong></h4>
            <h5>Price: $184.000</h5>
            <h6>Km: 61.000km</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">View details</a>
        </div>
    </div>
    <div class="card flex-row">
        <img alt="Car image"
             class="card-img-left example-card-img-responsive m-3"
             src="https://cdn.pixabay.com/photo/2016/06/20/22/35/mercedes-benz-1470136_640.jpg"
             width="328"
             height="260"
             style="background-size: contain"
             draggable="false" />
        <div class="card-body">
            <h4 class="card-title h5 h4-sm"><strong>Mercedes-Benz GT63s AMG 4MATIC 360Deg</strong></h4>
            <h5>Price: $184.000</h5>
            <h6>Km: 61.000km</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">View details</a>
        </div>
    </div>*@
</div>