@model IEnumerable<Car>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Selling Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f8f9fa;
            color: #495057;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #343a40;
            color: #ffffff;
            padding: 20px;
            text-align: center;
        }

        h1 {
            font-size: 2.5rem;
            margin-bottom: 0;
        }

        .car-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 20px;
        }

        .car-card {
            border: 1px solid #dee2e6;
            border-radius: 8px;
            overflow: hidden;
            margin: 16px;
            width: 500px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s;
        }

            .car-card:hover {
                transform: scale(1.05);
            }

        .car-image {
            max-width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 8px 8px 0 0;
        }

        .car-details {
            padding: 16px;
        }

        .car-title {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 8px;
        }

        .car-info {
            color: #6c757d;
            margin-bottom: 8px;
        }

        .car-price {
            font-size: 1.2rem;
            font-weight: bold;
            color: #28a745;
        }

        a {
            color: #007bff;
            text-decoration: none;
            display: block;
            padding: 10px;
            text-align: center;
            background-color: #ffffff;
            border-top: 1px solid #dee2e6;
            transition: background-color 0.3s;
        }

            a:hover {
                background-color: #f8f9fa;
            }
    </style>
</head>
<body>

    <header>
        <h1>Welcome to mobile.al!</h1>
    </header>

    <div class="car-container">
        @foreach (var car in Model)
        {
            <div class="car-card">
                @if (car.Photos != null && car.Photos.Any())
                {
                    <img class="car-photo" src="@car.Photos.First().Url" onclick="toggleFullScreenImage('@car.Photos.First().Url')" />
                }
                else
                {
                    <p class="text-center mt-4">No photos available</p>
                }
                <div class="car-details">
                    <div class="car-title">@car.Make</div>
                    <div class="car-info">
                        <p>Year: @(car.FirstRegistration.HasValue ? car.FirstRegistration.Value.ToString("dd/MM/yyyy") : "N/A")</p>
                    </div>
                    <div class="car-price">@car.Price€</div>
                </div>

                <a asp-controller="Car" asp-action="Detail" asp-route-id="@car.Id" class="btn btn-primary btn-block">View details</a>
                @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                {
                    <a asp-controller="Car" asp-action="Edit" asp-route-id="@car.Id" class="btn btn-secondary btn-block">Edit</a>
                    <a asp-controller="Car" asp-action="Delete" asp-route-id="@car.Id" class="btn btn-danger btn-block">Delete</a>
                }
            </div>
        }
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
